:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

.page {
    background-color: var(--light);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
   /* padding: 10px;
    margin: 10px;*/
    align-items: center;
    border: .25rem solid var(--dark);
    border-radius: .5rem;
    font-size: 1.25rem;
    flex-direction: column;
    justify-content:center;
    margin: 5%;
    padding: 2.5% 0;
    width: 25%;
}

.card__img {
    max-width: 85%;
}
.card-container{
    display:flex;
    flex-flow: row wrap;
}
.card__title{
    font-size: 1.25rem;
    font-style: italic;
}
.header{
    font-size: 2.25rem;
}
.textToggle{
    display: none;
}
@media (prefers-color-scheme: dark){
    .page{
        background-color:var(--dark);
        color: var(--light);
    }
}
@media screen and (min-width:700px) {
    body{
        font-size: 1.5rem;
        
    }
}
@media screen and (min-width:1000px) {
    body{
        font-size: 1.75rem;
        
    }
}
@media only screen and (min-width: 750px){
    /*for non mobile display cat ipsum*/
    .textToggle{
        display: block;
    }
}
